{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
		{{ $bin := .Title }}
		{{ $tag := .Params.tag }}
		{{ $bin }} {{ $tag }} <!-- (built at {{.Date.Format "15:04:05 MST on Monday, Jan 2, 2006"}}) -->
		<ul>
		{{ range $arch := .Params.architectures }}
			{{ $binary_root := printf "%s/%s/%s" $bin $tag $arch}}
			{{ $binary_URL := printf "%s/%s.gz" $binary_root $bin }}
			{{ $sha_URL := printf "%s/sha256" $binary_root }}
			<li>
				{{ $arch }}: <a href="{{ $binary_URL | relURL }}">gzipped binary</a> (<a href="{{ $sha_URL | relURL }}">sha256</a>) 
			</li>
		{{ end }}
		</ul>
    {{ end }}
</main>
{{ end }}