+++
title = "PCAS"
linkTitle = "PCAS"

+++

{{< blocks/cover title="PCAS: A Parallel Computational Algebra System" image_anchor="top" height="full" color="orange" byline="Sculpture by Gemma Anderson" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/downloads" >}}">
		Download <i class="fas fa-arrow-alt-circle-right ml-2 "></i>
	</a>
	<p class="lead mt-5">PCAS is a suite of microservices that enable data-fluent, massively parallel computational algebra calculations.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Built in [Go](https://golang.org), PCAS provides [high-performance tooling](https://bitbucket.org/pcas/) for cluster-scale computational algebra. This includes microservices for logging, metrics collection, database integration, and HPC cluster management, as well as an [interface to these](https://bitbucket.org/fanosearch.net/magma-core) from the Computational Algebra System [Magma](http://magma.maths.usyd.edu.au/magma/). There is also a (nascent) collection of [Go modules](https://bitbucket.org/pcasmath/) that implement a range of mathematical structures and algorithms for exact computation.



{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Continuous integration" %}}
Binary downloads are now delivered by a continuous integration system powered by [Jenkins](https://www.jenkins.io/), [Hugo](https://gohugo.io), and [Docsy](https://www.docsy.dev/about/).

{{% /blocks/feature %}}



{{% blocks/feature icon="fas fa-bolt" title="Fano manifolds" %}}
PCAS powers the computational infrastructure that underpins the [Fanosearch project](http://geometry.ma.ic.ac.uk/3CinG/), which aims to find and classify atomic pieces of geometric shapes.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-bitbucket" title="New users welcome!" %}}
Contact us on [Slack](https://fanosearch.slack.com/archives/C01T8CS1BJM) and we will help you get set up. Or check us out on [**Bitbucket**](https://bitbucket.org/pcas/).
{{% /blocks/feature %}}

{{< /blocks/section >}}

